<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/custom.css">
    <title>profile</title>

    
</head>

<style>
    div.main {
        max-height: 2000px;
        min-height: 110vh;
        max-width: 100%;
        min-width: 50%;
        padding-left: 250px;
        background-image: url("../../public/images/other/img1.jpg");
    }

    .under {
        display: inline-block;
    }

    .container1 {
        margin-top: 12vh;
        min-height: 200px;
        max-height: 800px;
        width: 700px;
        /* min-width: 300px; */
        background-color: aqua;
        background-color: rgb(0, 0, 54, .8);
        border-radius: 6px;
        padding-left: 5vh;
        padding-top: 7vh;
        display: inline-block;
        color: white;
    }

    .boxs {
        position: absolute;
        margin-top: 6vh;
        height: 8vh;
        margin-left: 5vh;
        background-color: rgba(209, 108, 7, 0.9);
        border-radius: 6px;
        width: 632px;
        padding: 2vh;
        display: inline-block;
    }

    label {
            font-size: 2.5vh;
            color: black;
        }

        .form {
            display: table-row;

        }

        label,
        input {
            display: table-cell;
            color: white;
            /* font-size: 2vh; */
        }

        .form1 {
            width: 45vh;
            height: 6vh;
            border-radius: 4px;
            background-color: inherit;
            color: black;
            margin-top: 4vh;
            margin-left: 2vh;
            padding-left: 2vh;
            color:white;
            border:1.5px solid white; 
            font-size:2.5vh;
        }

        #form_button {
            width: 15vh;
            height: 6vh;
            border-radius: 5px;
            background-color: #4934d3;
            margin-left: 30vh;
            margin-top: 4vh;
            cursor: pointer;
            color: white;
            font-size: 2vh;
            font-weight: 500;
            font-family: sans-serif;
            margin-bottom: 10px;

        }

        #form_button:active {
            background-color: #270ade;
        }
</style>

<body>
    <div class="side">
        <div id="bo">
            <div class="under">
                <img src="../../public/images/other/logo2.png" alt="" height="60px" width="68px">
            </div>
            <div class="under">
                <a href="/">Easy bid</a>
            </div>
        </div>
        <a href="/"><i class="fa fa-home ele" id="non-active">&nbsp;&nbsp;Home</i></a>

        <h2 style="padding:2vh; margin-top:1vh; color:rgb(241, 42, 11);">User Account</h2>
        <a href="/profile"><i class="fa fa-user ele" id="active">&nbsp;&nbsp;Profile</i></a>
        <a href="/wishlist"><i class="fa fa-heart-o ele" id="non-active">&nbsp;&nbsp;Wishlist</i></a>
        <a href="/purchases"><i class="fa fa-money ele" id="non-active">&nbsp;&nbsp;Purchases</i></a>
        <a href="/bid"><i class="fa fa-gavel ele" id="non-active">&nbsp;&nbsp;Bids</i></a>
        <a href="/notify"><i class="fa fa-bell ele" id="non-active">&nbsp;&nbsp;Notifications</i></a>

        <h2 style="padding:2vh; margin-top:2vh; color:rgb(241, 42, 11)">Seller Section</h2>
        <a href="/list_product"><i class="fa fa-archive ele" id="non-active">&nbsp;&nbsp; List Your Product</i></a>
        <a href="/selling_history"><i class="fa fa-handshake-o ele" id="non-active">&nbsp;&nbsp;Selling
                History</i></a>
    </div>


    <div class="main">
        <h3 style="padding-top:2vh; margin-left:4vh; color:white">User Profile</h3>
        <div class="boxs">
            <h2 style="color:white;">Edit Profile</h2>
            <h4 style="margin-top:1vh;color:white;">Complete Your Profile</h4>
        </div>
        <div class="container1">
            <% result.forEach((element) => { %>
            <div class="form">
                <label for="firstname">Name:</label>
                <input type="text" Name="name" class="form1" id="name" placeholder="Enter Your Name"
                    value="<%=element.Name%>" readonly>
            </div>
            <div class="form">
                <label for="email">Email:</label>
                <input type="email" Name="email" class="form1" id="email" placeholder="Enter Your email id"
                    value="<%=element.Email%>" readonly>
            </div>
            <div class="form">
                <label for="addhar">Addhar Number:</label>
                <input type="text" Name="addhar" class="form1" id="addhar" placeholder="Enter Your Addhar Card Number"
                    value="<%=element.Aadhar_Card%>" readonly>
            </div>
            <div class="form">
                <label for="number">Mobile No:</label>
                <input type="tels" Name="number" class="form1" size="10" id="mobile" placeholder="Enter Your mobile no"
                    value="<%=element.Mobile_No%>" readonly>
            </div>
            <div class="form">
                <label for="number">Date of Birth:</label>
                <input type="date" Name="dob" class="form1" id="dob"
                    value="<%=element.DOB.toISOString().slice(0, 10);%>" readonly>
            </div>
            <div class="form">
                <label for="address">Shipping Address:</label>
                <textarea name="address" id="" cols="30" rows="10" class="form1" readonly><%=element.Shipping_Add%></textarea>
                <!-- <input type="text" Name="address" class="form1" id="address" placeholder="Enter Your Shpping Address"
                     readonly> -->
            </div>
            <div class="form">
                <label for="password">Password:</label>
                <input type="password" Name="password" class="form1" id="password" placeholder="Enter Your password"
                    value="<%=element.Password%>" readonly>
            </div>
            <button type="submit" id="form_button" onclick="location.href='/Update_user_profile'">Edit Profile</button>
            <% }); %>
        </div>
        

        <div class="container1"
            style="width:60vh;  position:absolute; margin-left: 3vh; height: 140px; margin-top: 20vh; ">
            <% result.forEach((element) => { %>
            <div class="boxs"
                style="background-image:none; width: 5vh;  visibility: hidden; margin-top: -24vh; margin-left: -7vh;">
                <img src="../../public/images/user/<%=element.User_Id%>.jpg" alt="Not found" height="160px" width="190px"
                    style="border-radius:50%; margin-left:22vh; position:s relative; visibility:visible;">

            </div>
            <h3 style="text-align:center;"><%=element.Name%></h3>
            <p font-size:20px;">Account Address: <%=element.accound_address%></p><br>
            <p style="color:rgb(220, 247, 15); font-size:20px;"> Account balance:<%=balance%></p> 
                <% }); %>
        </div>
    </div>
</body>

</html>