<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../public/css/custom.css">
    <title>Selling History</title>
    <style>
            * {
       margin: 0;
       padding: 0;
   }

   .side {
       width: 220px;
       background-color: #000036;
       ;
       height: 100%;
       position: fixed;
       padding: 2vh;
       color: white;
       box-shadow: 0 30px 40px 0px rgba(62, 62, 201, .8);
   }

   #bo {
       height: 10vh;
       border-bottom: .6px solid #3e3ec9;
   }

   #active {
       /* background-color: #4934d3; */
       background-image: linear-gradient(60deg, rgb(66, 53, 149), rgb(47, 17, 239));
       margin-top: 2vh;
       margin-left: -6px;
       /* margin-right: 10px; */
       width: 200px;
       /* text-align: center; */
       border-radius: 5px;
       cursor: pointer;
   }

   #non-active {
       margin-top: 2vh;
       margin-left: -6px;
       /* margin-right: 10px; */
       width: 200px;
       /* text-align: center; */

   }

   #non-active:hover {
       background-color: #4934d3;
       border-radius: 5px;
       cursor: pointer;
       /* transition: background-color .4s; */
   }


   .side .under a {
       color: white;
       /* padding: 16px; */
       text-decoration: none;
       font-size: 4vh;
       font-weight: 500;
   }

   .under {
       display: inline-block;
   }
    </style>
</head>
<body style="background-image: url(../../public/images/other/img5.jpg); background-size:contain; background-attachment: fixed;">
    <div class="side">
        <div id="bo">
            <div class="under">
                <img src="../../public/images/other/logo2.png" alt="" height="60px" width="68px">
            </div>
            <div class="under">
                <a href="/">Easy bid</a>
            </div>
        </div>
        <a href="/"><i class="fa fa-home ele" id="non-active">&nbsp;&nbsp;Home</i></a>

        <h2 style="padding:2vh; margin-top:1vh; color:rgb(241, 42, 11); font-size: 3vh; font-weight: 600">User Account</h2>
        <a href="/profile"><i class="fa fa-user ele" id="non-active">&nbsp;&nbsp;Profile</i></a>
        <a href="/wishlist"><i class="fa fa-heart-o ele" id="non-active">&nbsp;&nbsp;Wishlist</i></a>
        <a href="/purchases"><i class="fa fa-money ele" id="non-active">&nbsp;&nbsp;Purchases</i></a>
        <a href="/bid"><i class="fa fa-gavel ele" id="non-active">&nbsp;&nbsp;Bids</i></a>
        <a href="/notify"><i class="fa fa-bell ele" id="non-active">&nbsp;&nbsp;Notifications</i></a>

        <h2 style="padding:2vh; margin-top:2vh; color:rgb(241, 42, 11); font-size: 3vh; font-weight: 600">Seller Section</h2>
        <a href="/list_product"><i class="fa fa-archive ele" id="non-active">&nbsp;&nbsp; List Your Product</i></a>
        <a href="/selling_history"><i class="fa fa-handshake-o ele" id="active">&nbsp;&nbsp;Selling
                History</i></a>
    </div>


    <section style="padding-left:38vh; padding-top: 4vh;">
        <div class="relative">
          <div class="relative flex justify-start">
            <span class="pr-3 text-lg font-medium text-neutral-600 bg-transparent" style="color:white;"> Selling History </span>
          </div>
        </div>
        <div class="space-y-8 lg:divide-y lg:divide-gray-100">
          <% result.forEach((element) => { %>
          <div class="pt-8 sm:flex lg:items-end group">
            <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
              <img class="w-full rounded-md h-32 lg:w-32 object-cover" src="../../public/images/product_images/<%=element.Item_Name%>/1.jpg" alt="Not Found">
            </div>
            <div>
              <span class="text-sm text-gray-500" style="color:rgb(209, 230, 20); font-size: larg;"><%=element.Status.toUpperCase()%></span>
              <p class="mt-3 text-lg font-medium leading-6">
                <a href="" class="text-xl text-white-800 group-hover:text-gray-500 lg:text-2xl" style="color:white"><%=element.Item_Name%></a>
              </p>
              <% if (element.Description.length > 200) { %>
                <p class="mt-2 text-lg text-gray-500"><%= element.Description.slice(0, 200) %>....</p>
            <% } else { %>
                <p class="mt-2 text-lg text-gray-500"><%= element.Description %></p>
            <% } %>
            
            </div>
          </div>
          <% }); %><hr>
         
        </div>
      </section>
</body>
</html>