<!DOCTYPE html>
<html class="csstransforms no-csstransforms3d csstransitions">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Easy Bid</title>
	<link rel="stylesheet" href="../public/css/style.css">
	<link rel="stylesheet" type="text/css" href="../public/css/menu.css">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="../public/images/other/logo2.png" />


	<style>
		.drop-line {
			/* margin-bottom: .6px; */
			border-bottom: .6px solid grey;
		}


	</style>

</head>

<body style="font-family: sans-serif;">

	<nav class="navic">

		<div id="msg">
			<img src="../public/images/other/msg.png" alt="" width="40px" height="40px"
				style="border: .6px solid grey; border-radius: 50%; padding: 10px;">
		</div>
		<h4 style="margin-top:5vh; color:white; margin-left: 2vh; cursor:pointer;">info@easybid.com</h4>

		<div id="msg" style="margin-left:-12vh;">
			<img src="../public/images/other/call.png" alt="" width="40px" height="40px"
				style="border: .6px solid grey; border-radius: 50%; padding: 10px;">
		</div>
		<h4 style="margin-top:5vh; color:white; margin-left: 2vh; cursor:pointer;">+91 11111111111</h4>

		<a>
			<div class="dropdown">
				<a id="account"> My Account </a>
				<div class="dropdown-content">
					<a class="drop-line" href="/profile">Your Account</a>
					<a class="drop-line" href="/purchases">Your Puchases</a>
					<a class="drop-line" href="/wishlist">Your Wishlist</a>
					<a class="drop-line" href="<%=link%>"><%=msg%></a>
				</div>
			</div>
		</a>
		<input type="text" id="search" placeholder="Search Product">

		<div class="logsig">
			<a href="<%=link%>">
				<h5><%=msg%></h5>
			</a>
		</div>

		<div class="regbutton">
			<a href="/register"><button type=submit class="register_button">Register</button></a>
		</div>
       <!-- <a href="Notifications.html"> <img src="images/notify.png" alt="" height="30px" width="30px" style="margin-top:4vh; margin-left:4vh; cursor:pointer;"></a> -->
       <a class="fa fa-bell" id="bell" style="margin-top:4.5vh; margin-left:5vh; font-size:3vh; color:white; text-decoration:none;" href="/Notifications"> </a>

	</nav>
	<div id="wrap">

		<header style="background-color:  #000036; font-size: larger; border-bottom: .6px solid grey;">
			<!-- <img src="images/logo2.png" alt="" height="300px" width="400px"> -->
			<a class="logo"><img src="../public/images/other/logo1.png" alt="fresh design web" height="60px" width="200px"></a>
			<div class="inner relative">


				<a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>
				<nav id="navigation">
					<ul id="main-menu">
						<li class="current-menu-item"><a
								style="font-family: sans-serif; font-size: large; font-weight: 700;" href="/">Home</a>
						</li>
						<li class="parent">
							<a href="/"
								style="font-family: sans-serif; font-size: large; font-weight: 700;">Categories</a>
							<ul class="sub-menu">
								<li><a href="/all/categories" style="color:white; font-size:2vh; font-weight: 500;">All</a></li>
								<li><a href="/" style="color:white; font-size:2vh; font-weight: 500;"><img
											src="../public/images/other/category/vehicle.png" alt="" height="15px" width="15px">
										Vehicles</a></li>
								<li><a href="" style="color:white; font-size:2vh; font-weight: 500;"><img
											src="../public/images/other/category/cloth.png" alt="" height="15px" width="15px"> Historic
										cloths</a></li>
								<li><a href="" style="color:white; font-size:2vh; font-weight: 500;"><img
											src="../public/images/other/category/art.png" alt="" height="15px" width="15px">
										Arts and Crafts</a></li>
								<li>
									<a class="parent" href="#"
										style="color:white; font-size:2vh; font-weight: 500;"><img
											src="../public/images/other/category/antique.png" alt="" height="15px" width="15px">
										Antique items</a>

									<ul class="sub-menu">
										<li><a href="/" style="color:white; font-size:2vh; font-weight: 500;"><img
													src="../public/images/other/category/coins.png" alt="" height="15px" width="15px">
												Coins</a></li>
										<li><a href="/" style="color:white; font-size:2vh; font-weight: 500;"><img
													src="../public/images/other/category/utensil.png" alt="" height="15px" width="15px">
												Utensils</a></li>
										<li><a href="" style="color:white; font-size:2vh; font-weight: 500;"><img
													src="../public/images/other/category/jwelery.png" alt="" height="15px" width="15px">
												Jewelry</a></li>
										<li><a href="" style="color:white ; font-size:2vh; font-weight: 500;"><i
													class="icon-file-alt"></i>
												Historic Books and Documentation</a></li>
									</ul>
								</li>
							</ul>
						</li>
						

						<li><a style="font-family: sans-serif; font-size: large; font-weight: 700;"
							href="/about">About us</a>
					</li>

						<li><a
								href="/contact" style="font-family: sans-serif; font-size: large; font-weight: 700;">Contact</a>
						</li>
					</ul>
				</nav>
				<div class="clear"></div>
			</div>
		</header>
	</div>

	<section id="chal">

		<div id="second">
			<div class="deal" style="display:inline-block">
				<h1>Exclusive Online Bid for Unbeatable Deals!</h1>
				<h2>Participate in bid and get hottest gadgets on your Ticket Cost.</h2>

				<a href="/register"><button type="submit" id="signup_button">Signup Now</button></a> 
			</div>

			<div class="deal" style="display:inline-block">
				<img src="../public/images/other/auction.png" alt="" style="height:420px; width:520px;">
			</div>
		</div>

		<div id="outside">

			<div class="box">
				<div class="img">
					<img src="../public/images/other/s1.png" alt="">
					<h2>24/7 Online Support</h2>
				</div>
			</div>

			<div class="box">
				<div class="img">
					<img src="../public/images/other/s2.png" alt="">
					<h2>100% Money Back Guarantee</h2>
				</div>
			</div>
			<div class="box">
				<div class="img">
					<img src="../public/images/other/s3.png" alt="">
					<h2>Many Payment Gatways</h2>
				</div>
			</div>
			<div class="box">
				<div class="img">
					<img src="../public/images/other/s4.png" alt="">
					<h2>World Wide Free Shipping</h2>
				</div>
			</div>
		</div>

		<h1 style="text-align:center; font-family: sans-serif; color:white; font-weight: 600;">How it works?</h1>
		<h2 style="text-align:center; font-family: sans-serif; color:white; font-weight: 500;">Follow these simple steps
			and make profits !</h2>

		<div class="outside1">
			<div class="box1">
				<div class="img">
					<img src="../public/images/other/w1.png" alt="">
				</div>
				<h1>Register for free</h1>
				<h2>To start using our auction, you’ll need to register. It’s completely free and requires just a few
					clicks!</h2>
			</div>

			<div class="box1">
				<div class="img">
					<img src="../public/images/other/w2.png" alt="">
				</div>
				<h1>Buy or Bid</h1>
				<h2>To start using our auction, you’ll need to register. It’s completely free and requires just a few
					clicks!</h2>
			</div>

			<div class="box1">
				<div class="img">
					<img src="../public/images/other/w3.png" alt="">
				</div>
				<h1>Submit a Bid</h1>
				<h2>To start using our auction, you’ll need to register. It’s completely free and requires just a few
					clicks!</h2>
			</div>
			<div class="box1">
				<div class="img">
					<img src="../public/images/other/w4.png" alt="">
				</div>
				<h1>Win</h1>
				<h2>To start using our auction, you’ll need to register. It’s completely free and requires just a few
					clicks!</h2>
			</div>
		</div>

	</section>

	<section>
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
		<div class="bbb_viewed" style="background-color:  #101046;">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="bbb_main_container">
							<div class="bbb_viewed_title_container"
								style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">
								<h3 class="bbb_viewed_title"
									style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">
									Recent Auctions</h3>
								<div class="bbb_viewed_nav_container" >
									<div class="bbb_viewed_nav bbb_viewed_prev"><i class="fa fa-chevron-left" style="font-size:15px; color:white; font-weight: 300;"></i>
									</div>
									<div class="bbb_viewed_nav bbb_viewed_next"><i class="fa fa-chevron-right" style="font-size:15px; color:white; font-weight: 300;"></i>
									</div>
								</div>
							</div>
							<div class="bbb_viewed_slider_container">
								<div class="owl-carousel owl-theme bbb_viewed_slider">

									<% result.forEach((element)=> { %>
									<div class="owl-item">
										<!-- <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center"> -->
										<a href="/product_detail/<%=element.Item_Id%>"><div class="bbb_viewed_image"><img src="../../public/images/product_images/<%=element.Item_Name%>/1.jpg" alt="Not Found" width="50px" height="140px"></div></a>
										<div class="bbb_viewed_content text-center">
											<div class="bbb_viewed_price"
												style="color:white;  font-family: sans-serif; font-size: larger; font-weight: 700;">
												Current price <%=element.Curr_Bid_Price%></div>
											<div class="bbb_viewed_name"><a
													style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;"
													href="/product_detail/<%=element.Item_Id%>"><%=element.Item_Name%></a></div>
											<button class="bid_button"
												style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;"
												type="Submit">Bid</button>
										</div>
										<ul class="item_marks">
											<li class="item_mark item_discount"></li>
											<li class="item_mark item_new">new</li>
										</ul>
										<!-- </div> -->
									</div>
									<% }) %>


									<!-- <div class="owl-item">
										<a href="product_detail.html"><div class="bbb_viewed_image"><img src="images/category/vehicles/1951 Willys Station Wagon/p11.jpg" alt="" width="50px" height="140px"></div></a>
										<div class="bbb_viewed_content text-center">
											<div class="bbb_viewed_price"
												style="color:white;  font-family: sans-serif; font-size: larger; font-weight: 700;">
												Current price ₹855544</div>
											<div class="bbb_viewed_name"><a
													style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;"
													href="product_detail.html">Car</a></div>
											<button class="bid_button"
												style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;"
												type="Submit">Bid</button>
										</div>
										<ul class="item_marks">
											<li class="item_mark item_discount"></li>
											<li class="item_mark item_new">new</li>
										</ul>
									</div> -->


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>



	<section id="sell">

		<div class="divide" style="padding-left: 15vh; display:inline-block;
		width: 100vh; margin-top: 3vh;">

			<h2>Sell with Eazy Bid</h2>
			<h3>Curious to khow if your item is suitable for one of our upcoming sales?</h3>
			<h3 style="margin-top:5vh;">Provide information and share images to request an online estimate now.</h3>

			<button type="submit" id="start_selling" onclick="window.location = `<%=link1%>`">START SELLING</button>

		</div>

		<div class="divide" style="display:inline-block;">
			<img src="../public/images/other/antique.png" alt="not found" style="margin-top:-35vh;">
		</div>
	</section>

	<header>
		<!-- Content -->
	</header>



	<footer class="footer">
		<div class="footer__addr" style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">
			<h1 class="footer__logo" style="font-family: sans-serif; font-size: larger; font-weight: 700;"><img src="../public/images/other/logo1.png" alt="" width="100px" height="50px">
			</h1>


			<address style="color:white">
				Easybid.in is a user-friendly online bidding platform that makes it easy for you to buy and sell a wide variety of items.<br>
			</address>
		</div>

		<ul class="footer__nav">
			<li class="nav__item" style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">
				<h2 class="nav__title" style="font-family: sans-serif; font-size: larger; font-weight: 700;">Account
				</h2>

				<ul class="nav__ul">
					<li>
						<a href="/signin" style="color:white;" class="account_login"><span>Login</span></a>
					</li>

					<li>
						<a href="#" style="color:white;" class="account_login"><span>Sell</span></a>
					</li>

					<li>
						<a href="/register" style="color:white;" class="account_login"><span>Register</span></a>
					</li>
				</ul>
			</li>

			<li class="nav__item" style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">
				<h2 class="nav__title"
					style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">Auction</h2>

				<ul class="nav__ul">
					<li>
						<a href="#" style="color:white;" class="account_login"><span>Today's Auction</span></a>
					</li>

					<li>
						<a href="#" style="color:white;" class="account_login"><span>Auction Calender</span></a>
					</li>

					<li>
						<a href="#" style="color:white;" class="account_login"><span>Long Auctions</span></a>
					</li>
				</ul>
			</li>

			<li class="nav__item" style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">
				<h2 class="nav__title"
					style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">Support</h2>

				<ul class="nav__ul">
					<li>
						<a href="/contact" style="color:white;" class="account_login"><span>Contact US</span></a>
					</li>

					<li>
						<a href="#" style="color:white;" class="account_login"><span>FAQ</span></a>
					</li>

					<li>
						<a href="/about" style="color:white;" class="account_login"><span>About Us</span></a>
					</li>
				</ul>
			</li>

			<li class="nav__item" style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">
				<h2 class="nav__title"
					style="color:white; font-family: sans-serif; font-size: larger; font-weight: 700;">More</h2>

				<ul class="nav__ul">
					<li>
						<a href="#" style="color:white;" class="account_login"><span>Security</span></a>
					</li>

					<li>
						<a href="/terms_&_conditions" style="color:white;" class="account_login"><span>Terms and Conditions</span></a>
					</li>

					<li>
						<a href="/privacy_&_policy" style="color:white;" class="account_login"><span>Privacy
								Policy</span></a>
					</li>
				</ul>
			</li>

		</ul>

		<div class="legal" style="color:white;">
			<p>&copy; 2023 Easy Bid. All rights reserved.</p>

			<!-- <div class="legal__links">
				<span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
			</div> -->
		</div>
	</footer>

	
	<script>
		$(document).ready(function () {


			if ($('.bbb_viewed_slider').length) {
				var viewedSlider = $('.bbb_viewed_slider');

				viewedSlider.owlCarousel(
					{
						loop: true,
						margin: 30,
						autoplay: true,
						autoplayTimeout: 6000,
						nav: false,
						dots: false,
						responsive:
						{
							0: { items: 1 },
							575: { items: 2 },
							768: { items: 3 },
							991: { items: 4 },
							1199: { items: 6 }
						}
					});

				if ($('.bbb_viewed_prev').length) {
					var prev = $('.bbb_viewed_prev');
					prev.on('click', function () {
						viewedSlider.trigger('prev.owl.carousel');
					});
				}

				if ($('.bbb_viewed_next').length) {
					var next = $('.bbb_viewed_next');
					next.on('click', function () {
						viewedSlider.trigger('next.owl.carousel');
					});
				}
			}


		});
	</script>
</body>

</html>