<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>


<body style="background-color:#000036;">

    <div class="container mt-5">
        <div class="title">
            <h3 style="color:white; text-align:center">Notifications</h3>
        </div>
    </div>

    <% result.forEach((element)=> { %>
        <% if (element.type==="Information" ){%>
            <div class="alert alert-info" style="margin-left:15vh; margin-right:15vh">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>

                    <b>Info alert:</b> <%=element.type%>
                    
                </div>
            </div>
            <%} else if (element.type==="Success"){%>
            <div class="alert alert-success" style="margin-left:15vh; margin-right:15vh">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">check</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Success Alert:</b> <%=element.Message%>
                </div>
                </div>
                <%} else if (element.type==="Warning"){%>
                <div class="alert alert-warning" style="margin-left:15vh; margin-right:15vh">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="material-icons">warning</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>Warning Alert:</b><%=element.Message%>
                    </div>
                </div>
                <%} else if (element.type==="Error"){%>
                <div class="alert alert-danger" style="margin-left:15vh; margin-right:15vh">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="material-icons">error_outline</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>Error Alert:</b><%=element.Message%>
                        
                    </div>
                </div>
                <%} else if (element.type==="Primary"){%>
                <div class="alert alert-primary" style="margin-left:15vh; margin-right:15vh">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="material-icons">update</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>Primary Alert : </b> <%=element.Message%>
                    </div>
                </div>
                <%}else{%>
              
                    <p>No Notification Found</p>
                <%}%>

                <% }) %>


                    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
                        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
                        crossorigin="anonymous"></script>

</body>