<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHJw7Tjr"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../public/css/product_detail.css">
</head>

<body>
    <div id="wrap">

        <header style="background-color:  #000036; font-size: larger; border-bottom: .6px solid grey;">
            <!-- <img src="images/logo2.png" alt="" height="300px" width="400px"> -->
            <a class="logo"><img src="../public/images/other/logo1.png" alt="fresh design web" height="60px"
                    width="200px"></a>
            <div class="inner relative">


                <a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>
                <nav id="navigation">
                    <ul id="main-menu">
                        <li class="current-menu-item"><a
                                style="font-family: sans-serif; font-size: large; font-weight: 700;" href="/">Home</a>
                        </li>
                        <li class="parent">
                            <a href="/"
                                style="font-family: sans-serif; font-size: large; font-weight: 700;">Categories</a>
                            <ul class="sub-menu">
                                <li><a href="/all/categories"
                                        style="color:white; font-size:2vh; font-weight: 500;">All</a></li>
                                <li><a href="/" style="color:white; font-size:2vh; font-weight: 500;"><img
                                            src="../public/images/other/category/vehicle.png" alt="" height="15px"
                                            width="15px">
                                        Vehicles</a></li>
                                <li><a href="" style="color:white; font-size:2vh; font-weight: 500;"><img
                                            src="../public/images/other/category/cloth.png" alt="" height="15px"
                                            width="15px"> Historic
                                        cloths</a></li>
                                <li><a href="" style="color:white; font-size:2vh; font-weight: 500;"><img
                                            src="../public/images/other/category/art.png" alt="" height="15px"
                                            width="15px">
                                        Arts and Crafts</a></li>
                                <li>
                                    <a class="parent" href="#"
                                        style="color:white; font-size:2vh; font-weight: 500;"><img
                                            src="../public/images/other//category/antique.png" alt="" height="15px"
                                            width="15px">
                                        Antique items</a>

                                    <ul class="sub-menu">
                                        <li><a href="/" style="color:white; font-size:2vh; font-weight: 500;"><img
                                                    src="../public/images/other//category/coins.png" alt=""
                                                    height="15px" width="15px">
                                                Coins</a></li>
                                        <li><a href="/" style="color:white; font-size:2vh; font-weight: 500;"><img
                                                    src="../public/images/other//category/utensil.png" alt=""
                                                    height="15px" width="15px">
                                                Utensils</a></li>
                                        <li><a href="" style="color:white; font-size:2vh; font-weight: 500;"><img
                                                    src="../public/images/other//category/jwelery.png" alt=""
                                                    height="15px" width="15px">
                                                Jewelry</a></li>
                                        <li><a href="/" style="color:white ; font-size:2vh; font-weight: 500;"><i
                                                    class="icon-file-alt"></i>
                                                Historic Books and Documentation</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        <li><a style="font-family: sans-serif; font-size: large; font-weight: 700;" href="/about">About
                                us</a>
                        </li>

                        <li><a href="/contact"
                                style="font-family: sans-serif; font-size: large; font-weight: 700;">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="cont">
            <div class="content" style="display:inline-block">
                <h3>Product Details</h3>
                <h4>Home &#x21D2; Product Details</h4>
            </div>
        </div>

        <div class="cont"></div>
        <img src="../public/images/other/online_shopping.png" alt="" height="350px" width="550px"
            style="margin-top:-10vh; margin-left: 20vh;">
    </div>

    <section>
        <% result.forEach((element)=> { %>
            <div class="middle">

                <div class="box2">
                    <div class="sec1"
                        style="height:70vh;   border-radius:5px; background-color:#242471; position: relative;">
                        <figure id="magnifying_area">

                            <img src="../../public/images/product_images/<%=element.Item_Name%>/1.jpg"
                                id="magnifying_img" alt="" height="550px" width="700px"
                                style="background-size:contain;">
                            <!-- <img src="images/category/vehicles/1951 Willys Station Wagon/p1.jpg" alt="" height="520px" width="744px"> -->
                        </figure>
                    </div>
                    <script>
                        var magnifying_area = document.getElementById("magnifying_area");
                        var magnifying_img = document.getElementById("magnifying_img");

                        magnifying_area.addEventListener("mousemove", function (event) {
                            clientX = event.clientX - magnifying_area.offsetLeft
                            clientY = event.clientY - magnifying_area.offsetTop

                            var mWidth = magnifying_area.offsetWidth
                            var mHeight = magnifying_area.offsetHeight
                            clientX = clientX / mWidth * 100
                            clientY = clientY / mHeight * 100

                            //magnifying_img.style.transform = 'translate(-50%,-50%) scale(2)'
                            magnifying_img.style.transform = 'translate(-' + clientX + '%, -' + clientY + '%) scale(2)'
                        })

                        magnifying_area.addEventListener("mouseleave", function () {
                            magnifying_img.style.transform = 'translate(-50%,-50%) scale(1)'
                        })
                    </script>
                    <center>
                        <div class="sec2" style="overflow:hidden;">
                            <img src="../../public/images/product_images/<%=element.Item_Name%>/1.jpg" id="subfirst"
                                alt="" onclick="subfirst()"
                                style="padding-bottom:2vh; height:90px; width:90px; position:relative; ">
                        </div>
                        <div class="sec2" style="overflow:hidden;">
                            <img src="../../public/images/product_images/<%=element.Item_Name%>/2.jpg" id="subsecond"
                                alt="" onclick="subsecond()"
                                style="padding-bottom:2vh; height:90px; width:90px; position:relative;">
                        </div>
                        <div class="sec2" style="overflow:hidden;">
                            <img src="../../public/images/product_images/<%=element.Item_Name%>/3.jpg" id="subthird"
                                alt="" onclick="subthird()"
                                style="padding-bottom:2vh; height:90px; width:90px; position:relative;">
                        </div>
                        <div class="sec2" style="overflow:hidden;">
                            <img src="../../public/images/product_images/<%=element.Item_Name%>/4.jpg" id="subfourth"
                                alt="" onclick="subfourth()"
                                style="padding-bottom:2vh; height:90px; width:90px; position:relative;">
                        </div>
                    </center>
                    <script>
                        function subfirst() {
                            let v1 = document.getElementById("subfirst").src;
                            document.getElementById("magnifying_img").src = v1;
                        }

                        function subsecond() {
                            let v2 = document.getElementById("subsecond").src;
                            document.getElementById("magnifying_img").src = v2;
                        }

                        function subthird() {
                            let v3 = document.getElementById("subthird").src;
                            document.getElementById("magnifying_img").src = v3;
                        }

                        function subfourth() {
                            let v4 = document.getElementById("subfourth").src;
                            document.getElementById("magnifying_img").src = v4;
                        }
                    </script>
                </div>

                <div class="box2"
                    style="background-color: #101046; width:70vh; border: .6px solid #6d69f4; border-radius:5px; position: absolute; padding: 3vh;">
                    <h2 style="height:12vh;border-bottom:.6px solid grey; color:white;">
                        <%=element.Item_Name%>
                    </h2>
                    <!-- <h3 style="color:white; font-family: sans-serif;">Price: <strong>₹5000</strong></h3> -->
                    <h3 style="color:white; font-family: sans-serif;">Current Price: <strong>
                            <%=element.Curr_Bid_Price%>
                        </strong></h3>
                    <h3 style="margin-top:4vh;color:white;font-weight:550; font-family: sans-serif;">Product Details
                    </h3>
                    <div style="color:white">
                        <h4>Category - <%=element.Category%>
                        </h4>
                        <% const auctionStartTime=new Date(element.Auction_Start_Time); %>
                            <h4>Auction Start Time - <%= auctionStartTime.getDate() + '/' +
                                    (auctionStartTime.getMonth()+1) + '/' + auctionStartTime.getFullYear() + ' ' +
                                    auctionStartTime.getHours() + ':' + auctionStartTime.getMinutes() + ':' +
                                    auctionStartTime.getSeconds(); %>
                            </h4>
                            <% const auctionEndTime=new Date(element.Auction_End_Time); %>
                                <h4>Auction End Time - <%= auctionEndTime.getDate() + '/' +
                                        (auctionEndTime.getMonth()+1) + '/' + auctionEndTime.getFullYear() + ' ' +
                                        auctionEndTime.getHours() + ':' + auctionEndTime.getMinutes() + ':' +
                                        auctionEndTime.getSeconds(); %>
                                </h4>
                                <h4>Status - <%=element.Status%>
                                </h4>

                    </div>
                </div>
            </div>
            <% }) %>
    </section>

    <section id="down">
        <% result.forEach((element)=> { %>
            <div class="downside">
                <h1 style="color:white;">
                    <%=element.Item_Name%>
                </h1>
                <div id="block">
                    <h3>Current Price <strong>
                            <%=element.Curr_Bid_Price%>
                        </strong></h3>
                    <h4>Buyer's Premium <strong>20%</strong></h4>
                    <h4>Bid Increment (IND) <strong>₹500</strong></h4>
                </div>

                <div class="border" style="border-top: .6px solid grey; border-bottom: .6px solid grey;">

                    <form action="/product_detail/<%=element.Item_Id%>" method="post">
                        <div class="block1" style="padding-top: 4vh;">
                            <input type="text" placeholder="Enter Your bid Amount" id="input_block1" name="amount">
                        </div>
                        <div class="block1" style="padding-top: 3.9vh; padding-bottom: 4vh;">
                            <button type="submit" id="block1_button">Submit a bid</button>
                        </div>
                    </form>

                </div>

                <div class="buyandwish">
                    <button type="submit" id="bide_button">Buy Now</button>
                </div>
                <div class="buyandwish">
                    <form action="/addwishlist/<%=element.Item_Id%>" method="post">
                        <button type="submit" id="bide_button">Add To Wishlist</button>
                    </form>
                </div>
            </div>

            <div class="downside"
                style="width:70vh; border: .6px solid #6d69f4; 
   border-radius:5px; background-color: #101046; position:absolute; padding-top:2vh; padding-left:2vh; padding-right:2vh;">
                <center>
                    <h4 style="color:white; font-family:sans-serif; ">This Auction Ends in:
                    </h4>
                    <h2 id="timer" style="margin-bottom:-8vh; font-size:6vh; color:#fa8fc1; font-weight:600;"></h2>
                </center>
                <h1 style="padding:4vh; border-bottom: .6px solid #9276d7;"></h1>

                <div class="active" style="padding:2vh;">
                    <div class="bidder" style="margin-bottom:4vh;">
                        <img src="../public/images/other/bidders.png" alt="" height="60px" width="60px"> <strong
                            style="font-size:4vh; color:white; margin-left:3vh;">78</strong>
                        <h4 style="margin-left:9vh; margin-top:-2vh; font-family: sans-serif; color:white;">Active
                            Bidder
                        </h4>
                    </div>

                    <div class="bidder" style="margin-bottom:4vh;">
                        <img src="../public/images/other/watching.png" alt="" height="60px" width="60px"> <strong
                            style="font-size:4vh; color:white; margin-left:3vh;">648</strong>
                        <h4 style="margin-left:10vh; margin-top:-2vh; font-family: sans-serif; color:white;">Watching
                        </h4>
                    </div>


                    <div class="bidder" style="margin-bottom:4vh;">
                        <img src="../public/images/other/total_bids.png" alt="" height="60px" width="60px"> <strong
                            style="font-size:4vh; color:white; margin-left:3vh;">78</strong>
                        <h4 style="margin-left:9vh; margin-top:-2vh; font-family: sans-serif; color:white;">Total Bids
                        </h4>
                    </div>
                </div>
            </div>
            <% }) %>
    </section>

    <section id="down1">
        <% result.forEach((element)=> { %>
            <div class="opt">
                <div class="block2-active" onclick="myFunction1()" id="c1">
                    <img src="../public/images/other/description.png" alt="" height="50px" width="50px"
                        style="margin-right:2vh"> <strong
                        style="color:white; font-size:1.8vh; text-transform: capitalize;">Description</strong>
                </div>
                <div class="block2" onclick="myFunction2()" id="c2">
                    <img src="../public/images/other/delivery.png" alt="" height="50px" width="50px"
                        style="margin-right:2vh"> <strong
                        style="color:white; font-size:1.8vh; text-transform: capitalize;">Delivery Options</strong>
                </div>
                <div class="block2" onclick="myFunction3()" id="c3">
                    <img src="../public/images/other/description.png" alt="" height="50px" width="50px"
                        style="margin-right:2vh"> <strong
                        style="color:white; font-size:1.8vh; text-transform: capitalize;">Bid History</strong>
                </div>
                <div class="block2" onclick="myFunction4()" id="c4">
                    <img src="../public/images/other/questons.png" alt="" height="50px" width="50px"
                        style="margin-right:2vh"> <strong
                        style="color:white; font-size:1.8vh; text-transform: capitalize;">Questions</strong>
                </div>
            </div>


            <div class="show" id="myDIV1">
                <h3
                    style="font-size: 24px; line-height: 31.2px; font-family: Poppins, sans-serif; font-weight: 550; color:white;">
                    Description</h3>
                <div id="boxe"
                    style="width:100vh; height:30vh; border:.6px solid #6d69f4; padding:3vh; color:white; font-size: 3vh; border-radius: 6px;">
                    <%=element.Description%>
                </div>
            </div>

            <div class="hide" id="myDIV2">
                <h3
                    style="font-size: 24px; line-height: 31.2px; font-family: Poppins, sans-serif; font-weight: 550; color:white;">
                    Shpping</h3>
                <div id="boxe" style="width:120vh; padding:3vh; color:white;">
                    <table>
                        <tr>
                            <th>Available Delivery Methods</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>Customer Pick-up (within 8 days)</td>
                            <td>:00₹</td>
                        </tr>
                        <tr>
                            <td>Standard Shipping (4-7 business days)</td>
                            <td>:Not Applicable</td>
                        </tr>
                        <tr>
                            <td>Expedited Shipping (2-4 business days)</td>
                            <td>:00₹</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="hide" id="myDIV3">
                <h3
                    style="font-size: 24px; line-height: 31.2px; font-family: Poppins, sans-serif; font-weight: 550; color:white;">
                    Bid history</h3>
                <div id="boxe"
                    style="width:100vh; height:30vh; border:.6px solid #6d69f4; padding:3vh; color:white; font-size: 3vh; border-radius: 6px;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deserunt et libero iusto explicabo
                    inventore dolorum! Recusandae facilis ipsa ipsam esse ea, cupiditate earum tempore quam iure ex
                    blanditiis ad quis beatae aliquam laboriosam quia! Ut, debitis id magnam quia magni possimus
                    officiis
                    impedit quae. </div>
            </div>

            <div class="hide" id="myDIV4">
                <h3
                    style="font-size: 24px; line-height: 31.2px; font-family: Poppins, sans-serif; font-weight: 550; color:white;">
                    Questions</h3>
                <div id="boxe"
                    style="width:100vh; height:70vh; padding:3vh; color:white; font-size: 3vh; border-radius: 6px;">
                    <div class="container" style="background-color:transparent;">
                        <div class="accordion" id="faqAccordion">

                            <div class="card">
                                <div class="card-header" id="faqHeading1">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link bbtn" type="button" data-toggle="collapse"
                                            data-target="#faqCollapse1" aria-expanded="true"
                                            aria-controls="faqCollapse1">
                                            How to start bidding?
                                        </button>
                                    </h2>
                                </div>
                                <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHeading1"
                                    data-parent="#faqAccordion" style="width:140vh;">
                                    <div class="card-body">
                                        All successful bidders can confirm their winning bid by checking the “Techbid”.
                                        In addition, all successful bidders will receive an email notifying them of
                                        their winning bid after the auction closes. </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="faqHeading2">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed bbtn" type="button" data-toggle="collapse"
                                            data-target="#faqCollapse2" aria-expanded="false"
                                            aria-controls="faqCollapse2">
                                            How to register to a bid in an auction?
                                        </button>
                                    </h2>
                                </div>
                                <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2"
                                    data-parent="#faqAccordion" style="width:140vh;">
                                    <div class="card-body">
                                        All successful bidders can confirm their winning bid by checking the “Techbid”.
                                        In addition, all successful bidders will receive an email notifying them of
                                        their winning bid after the auction closes. </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading3">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed bbtn" type="button" data-toggle="collapse"
                                            data-target="#faqCollapse3" aria-expanded="false"
                                            aria-controls="faqCollapse3">
                                            How do I Track My Order?
                                        </button>
                                    </h2>
                                </div>
                                <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3"
                                    data-parent="#faqAccordion" style="width:140vh;">
                                    <div class="card-body">
                                        All successful bidders can confirm their winning bid by checking the “Techbid”.
                                        In addition, all successful bidders will receive an email notifying them of
                                        their winning bid after the auction closes. </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading4">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed bbtn" type="button" data-toggle="collapse"
                                            data-target="#faqCollapse4" aria-expanded="false"
                                            aria-controls="faqCollapse4">
                                            What happens if I bid on a wrong Lot?
                                        </button>
                                    </h2>
                                </div>
                                <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4"
                                    data-parent="#faqAccordion" style="width:140vh;">
                                    <div class="card-body">
                                        All successful bidders can confirm their winning bid by checking the “Techbid”.
                                        In addition, all successful bidders will receive an email notifying them of
                                        their winning bid after the auction closes. </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="faqHeading5">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed bbtn" type="button" data-toggle="collapse"
                                            data-target="#faqCollapse5" aria-expanded="false"
                                            aria-controls="faqCollapse5">
                                            How does a unique Auction work?
                                        </button>
                                    </h2>
                                </div>
                                <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5"
                                    data-parent="#faqAccordion" style="width:140vh;">
                                    <div class="card-body">
                                        All successful bidders can confirm their winning bid by checking the “Techbid”.
                                        In addition, all successful bidders will receive an email notifying them of
                                        their winning bid after the auction closes. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
    </section>

    <script>
        function myFunction2() {
            const element = document.getElementById("myDIV2");
            if (element.className == "hide") {
                element.className = "show";
            }
            const element1 = document.getElementById("myDIV1");
            element1.className = "hide";
            const element2 = document.getElementById("myDIV3");
            element2.className = "hide";
            const element3 = document.getElementById("myDIV4");
            element3.className = "hide";

            const e = document.getElementById("c2");
            if (e.className == "block2") {
                e.className = "block2-active";
            }
            const e1 = document.getElementById("c1");
            e1.className = "block2";
            const e2 = document.getElementById("c3");
            e2.className = "block2";
            const e3 = document.getElementById("c4");
            e3.className = "block2";
        }

        function myFunction1() {
            const element = document.getElementById("myDIV1");
            if (element.className == "hide") {
                element.className = "show";
            }
            const element1 = document.getElementById("myDIV2");
            element1.className = "hide";
            const element2 = document.getElementById("myDIV3");
            element2.className = "hide";
            const element3 = document.getElementById("myDIV4");
            element3.className = "hide";

            const e = document.getElementById("c1");
            if (e.className == "block2") {
                e.className = "block2-active";
            }
            const e1 = document.getElementById("c2");
            e1.className = "block2";
            const e2 = document.getElementById("c3");
            e2.className = "block2";
            const e3 = document.getElementById("c4");
            e3.className = "block2";
        }

        function myFunction3() {
            const element = document.getElementById("myDIV3");
            if (element.className == "hide") {
                element.className = "show";
            }
            const element1 = document.getElementById("myDIV2");
            element1.className = "hide";
            const element2 = document.getElementById("myDIV1");
            element2.className = "hide";
            const element3 = document.getElementById("myDIV4");
            element3.className = "hide";

            const e = document.getElementById("c3");
            if (e.className == "block2") {
                e.className = "block2-active";
            }
            const e1 = document.getElementById("c1");
            e1.className = "block2";
            const e2 = document.getElementById("c2");
            e2.className = "block2";
            const e3 = document.getElementById("c4");
            e3.className = "block2";
        }

        function myFunction4() {
            const element = document.getElementById("myDIV4");
            if (element.className == "hide") {
                element.className = "show";
            }
            const element1 = document.getElementById("myDIV2");
            element1.className = "hide";
            const element2 = document.getElementById("myDIV1");
            element2.className = "hide";
            const element3 = document.getElementById("myDIV3");
            element3.className = "hide";

            const e = document.getElementById("c4");
            if (e.className == "block2") {
                e.className = "block2-active";
            }
            const e1 = document.getElementById("c1");
            e1.className = "block2";
            const e2 = document.getElementById("c3");
            e2.className = "block2";
            const e3 = document.getElementById("c2");
            e3.className = "block2";
        }

    </script>


    <% result.forEach((element)=> { %>
        <script>
            // Set the auction end time
            const now = new Date();
            const auctionEndTime = new Date("<%=element.Auction_End_Time%>");
            const auctionstartTime = new Date("<%=element.Auction_Start_Time%>");
            const timerElement = document.getElementById('timer<%=element.id%>');

            function updateTimer() {
                // Get the current time
                const now = new Date();

                // Calculate the remaining time in seconds
                const remainingTimeInSeconds = Math.floor((auctionEndTime - now) / 1000);

                if (now > auctionEndTime) {
                    // Auction has ended
                    timerElement.textContent = "Expired";
                    clearInterval(intervalId);
                } else if (auctionstartTime > now) {
                    // Auction has not started yet
                    timerElement.textContent = "Not Started";
                } else {
                    // Auction is ongoing, update the countdown timer
                    const hours = Math.floor(remainingTimeInSeconds / 3600);
                    const minutes = Math.floor((remainingTimeInSeconds % 3600) / 60);
                    const seconds = Math.floor(remainingTimeInSeconds % 60);
                    const formattedTime = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                    timerElement.textContent = hours + "  :  " + minutes + "  :  " + seconds;
                }
            }

            // Update the timer every second
            const intervalId = setInterval(updateTimer, 1000);
            updateTimer(); // Call once immediately to avoid initial delay
        </script>
        <% }) %>
</body>

</html>